//Reset
@import "scss-reset/reset.scss";

//Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   scroll-behavior: smooth;
}

@layer base {
   body {
	  @apply bg-gray-100 dark:bg-gray-800 dark:text-white
   }

   h1 {
	  @apply mt-6 text-center text-4xl font-extrabold text-gray-800
   }

   h2 {
	  @apply text-3xl font-semibold text-gray-700
   }

   h3 {
	  @apply text-2xl
   }

   h4 {
	  @apply text-xl my-2
   }

   p {
	  @apply my-1
   }

   [type="email"],
   [type="number"],
   [type="text"],
   [multiple],
   textarea,
   select, {
	  @apply w-full text-sm font-medium text-gray-700 rounded-lg border-gray-300 shadow-sm focus:border-[#ffa500] focus:ring-[#ffa500] mt-1
   }

   [type="checkbox"] {
	  @apply focus:ring-[#ffa500] text-[#ffa500] rounded-md
   }

   label {
	  @apply text-sm font-medium text-gray-700
   }

  .rotate-dots-upper {
    animation: rotate-dots-upper 4s linear infinite;
  }
  .rotate-dots-bottom {
    animation: rotate-dots-bottom 3s linear infinite;
  }

  .rotate-circle-mainPage {
    animation: rotate-circle-mainPage 5s linear infinite;
  }

  @keyframes rotate-dots-upper {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes rotate-dots-bottom {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-circle-mainPage {
    0% {
      transform: translate(-40px,-80px) ;
    }
    25% {
      transform: translate(-80px,-40px) ;
    }
    50% {
      transform: translate(80px,40px) ;
    }
    75% {
      transform: translate(80px,-40px) ;
    }
    100% {
      transform: translate(-40px,-80px) ;
    }
  }
}

@layer components {
   .blinking-cursor:after {
	content: '|';
	  animation: blink 1s step-start infinite;
   }
   @keyframes blink {
	  50% {
		 opacity: 0;
	  }
   }
}

